nav {
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
}

div.blueBackground {
    background: #023047;
    top: -60px;
    height: 45em;
    z-index: -1000;
    padding: 0em;
}

h1 {
    font-weight: bolder;
    font-size: 5em;
}

span.colorBackground {
    background-color: #88c4e0;
}

div.heightWhite {
    height: 30em;
}