nav {
    font-family: 'Montserrat';
    font-weight: 800;
}
.footer-margin{
    padding-left: 5rem;
}
body {
    font-family: 'Montserrat';
}
div.blueBackground {
    background: #023047;
    top: -60px;
    height: 35em;
    z-index: -1000;
    padding: 0em;
}
.text-nav{
    color: #fff;
}

h1 {
    font-weight: bolder;
    font-size: 4.5rem;
}

.colorBackground {
    background-color: #88c4e0;
}

div.heightWhite {
    height: 30rem;
}
.primage {
    position: absolute;
    align-self: center;
    left: 35%;
    margin-top: 3em;
    width: 35%;
}
.index-text{
    z-index: 1000;
    position: absolute; 
    margin-left: 2em;
    margin-top: 3em;
}
.container-margin{
    margin-top: 10em;
    margin-bottom: 5em;
}

.title{
    font-size: 2rem;
    font-weight:bold ; 
}
.subtitle{
    font-size: 1.5rem;
    color: #fff;
}
.contacttext{
    font-size: 1rem;
    color: #fff;
}
.yellow-span{
    background-color: #FFB101;
}
.orange-span{
    
    background-color: #F68000;  
}
.aboutme-text{
    font-size: 1.5rem;
    margin-top: 1em;
}
.work-text{
    background-color: #023047;
    color: #fff;
    font-size: 1.3rem;
}
.medium-blue{
    background-color: #2098B5;
}
.dark-blue{
    background: #023047;
    color: #fff;
}
.send-btn{
    background-color: #F68000;
    color: #fff; 
    font-weight: bold; 
    letter-spacing: 0.1rem;
}
.responsive-phone{
    left: 0%;
}
/*effects*/
/* Forward */
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  
  /* Backward */
  .hvr-backward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  /* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  /* Shrink */
  .hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background:  #F68000;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
  

@media (max-width: 575.98px) { 
    
    div.blueBackground{
        display: none;
    }
    .primage{
        position: relative;
        left: 0%;
        width: 100%;
    }
    h1{
        font-size: 2.7rem;
    }
    .index-text{
        position: relative; 
        margin-left: 2em;
        margin-top: 3em;
    }

    h2{
        font-size: 1.7rem;
    }
    
    div.heightWhite {
        height: 20rem;
    }
 
    .text-white{
        color:#000 !important;
    }
    .footer-margin{
        padding-left: 0rem;
    }
 
}


@media (max-width: 767.98px) {
    div.blueBackground{
        display: none;
    } 
    .primage{
        position: relative;
        left: 0%;
        width: 100%;
    }
 }


@media (max-width: 991.98px) { 
 
}


@media (max-width: 1199.98px) { 

}
@media (max-width: 1920.98px) { 

    .primage{
        width: 30%;
    }
}